.category-list{
    position: sticky;
  top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 10px;

}

.category-container{
    padding: 10px;
    background-color: #D3DAD9;
    margin-bottom: 10px;
    min-width: 200px;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.category-text{
    color: rgb(56, 56, 56);
    text-shadow: 2px 2px 3px #0000005b;
}

.sub-categories-list{
    display: flex;
    flex-direction: column;
}