.book-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.inner-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.book-price {
  margin-top: auto;
  font-weight: bold;
}
