
/*
.book-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.inner-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.book-price {
  margin-top: auto;
  font-weight: bold;
}

*/

.book {
  display: inline-block;
  width: 230px;
  background-color: #D3DAD9;
  margin: 25px;
  padding: 10px 10px 0 10px;
  vertical-align: top;
  transition: height 1s;
}

.cover {
  border: 2px solid gray;
  height: 65%;
  overflow: hidden;
}

.cover img {
  width: 100%;
}

.book p {
  margin-top: 12px;
  font-size: 20px;
  color: #37353E;
}

.book .author {
  font-size: 15px;
}

h1 {
  color: gray;
  text-align: center;
  font-size: 50px;
  margin-bottom: -3px;
}

#list-th:target .cover {
  width: 246px;
}

#list-th:target img {
  opacity: .1;
}

#list-th:target p {
  margin-top: -62px;
  margin-left: 20px;
}

#large-th:target .book {
  height: 390px;
}

/***********************************
star animation
***********************************/
/***********************************
zoom on click
***********************************/