.search-bar-container{
    border: 1px solid #715A5A;
    min-width: 800px;
    margin-top: 20px;
    background-color: #37353E;

}

.search-bar-input{
    border: none;
    background-color: transparent;
    padding: 15px;
    min-width: 800px;
}